@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #a164df;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.btn {
  margin: 1rem;
  padding: 1.5rem 3rem;
  background: rebeccapurple;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.2rem;
  color: #fff;
  &:focus {
    outline: none;
    cursor: pointer;
  }
  &:hover {
    opacity: 0.9;
  }
}
